.line-buttons {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100px;

  .col {
    display: block;

    span {
      font-size: 20px;
      color: #ffffff;
      font-size: 20px;
    }
  }

  .right {
    text-align: right;
    float: right;
    display: block;
  }
}

.movie-list {
  display: block;
  width: 100%;
}

mat-grid-tile {
  background-color: rgb(156, 39, 176);
}

#btn-generate {
  min-width: 300px;
  padding: 15px;
}


